/noarch/
/.build-*.fc*.log
/python-dateutil-*.fc*.src.rpm
/python-dateutil-1.4.1.tar.gz
/python-dateutil-1.5.tar.gz
/python-dateutil-2.2.tar.gz
/2.4.0.tar.gz
/2.4.2.tar.gz
/python-dateutil-2.5.0.tar.gz
/dateutil-2.5.2.tar.gz
/python-dateutil-2.5.3.tar.xz
